@charset "utf-8";

@font-face {
  font-display: swap;

  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans CJK';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NotoSansJP/NotoSansJP-Regular.ttf) format('truetype');

}
