{{ $url := .Get "url" }}
{{ $title := .Get "title" }}
{{ $desc := .Get "desc" }}
{{ $image := .Get "image" }}
{{ $u := urls.Parse $url }}
{{ $host := $u.Host }}

{{ if not $image }}
{{ $image = "/images/default-thumb.png" }}
{{ end }}

<a href="{{ $url }}" class="link-card" target="_blank" rel="noopener">
  <div class="link-card-thumbnail">
    <img src="{{ $image }}" alt="Thumbnail">
  </div>
  <div class="link-card-body">
    <div class="link-card-title">{{ $title }}</div>
    <div class="link-card-description">{{ $desc }}</div>
    <div class="link-card-footer">{{ $host }}</div>
  </div>
</a>
